
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Abel, serif;
}

.container {
    display: grid; /* Aktiviert das Grid-Layout */
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 40% 35% 25%; /* Spaltenaufteilung */
    grid-template-rows: 100px 50px 30px auto 80px; /* Reihenaufteilung */
    grid-template-areas: 
        "header header header"
        "navigation navigation navigation"
        "content content sidebar-title"
        "content content sidebar"
        "footer footer footer"; /* Layout-Definition */
}

/* Individual Grid Items */
.header {
    grid-area: header; /* Platzierung im Grid */
    background-color: #5b976e;
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid #5b976e;
}

.header-title {
    font-size: 55px;
    font-weight: bold;
}

.slogan {
    font-family: Dancing Script;
    margin-left: 40vh;
}

.navigation {
    grid-area: navigation;
    background-color: #c6dbcc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;

}

.container a:link {
    text-decoration: none;
    color: black;
} 

.content {
    grid-area: content;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    border-top: none;
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    border-right: 1px solid black;
}

.content-title {
    font-size: 50px;
    justify-content: center;
}

.content p {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
    align-self: flex-start;
    width: 100%;
    max-width: 99%;
    padding-left: 1%;;
}

#content-text {
    font-size: 18px;
}

.sidebar {
    grid-area: sidebar;
    width: 93.5%;
    max-width: 100%;
    overflow: hidden;
    background-color: #f4f4f4;
    border: 1px solid black;
    object-fit: contain;
    border-top: none;
    text-align: left;
    padding: 10px;
    border-right: none;
    border-bottom: none;
}

.side-title {
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
}

.sidebar img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.sidebar p {
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}

.sidebar-title {
    grid-area: sidebar-title;
    border-bottom: none;
    background-color: #f4f4f4;
    text-align: center;
    align-self: center;
}

.side-title {
    font-family: Abel;
    font-size: 20px;
}

#sidelink {
    color: rgb(255, 0, 0);
}

.footer {
    grid-area: footer;
    background-color: #5b976e;
    color: #3d3d3d;
    position: relative; 
    display: flex;
    border: none;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

@media (min-width: 1200px) {
    .body {
        font-size: calc(+ 10px);
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 100px 50px auto 80px;

        grid-template-areas: 
        "header"
        "navigation"
        "content"
        "footer";
        width: 100vh;
        height: 100vh;
    }
    .sidebar {
        display: none;
    }

    .side-title {
        display: none;
    }

    .header {
        min-width: 100vh;
        max-width: 100vh;
    }

    .content {
        min-height: 100vh;
    }

    .footer {
        width: 100%;
        position: relative;
        height: 120px;
    }


}

@media (max-width: 600px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 100px 50px auto 60px;

        grid-template-areas: 
        "header"
        "navigation"
        "content"
        "footer";
        width: 100vh;
        height: 100vh;
    }

    .sidebar {
        display: none;
    }

    .side-title {
        display: none;
    }

    .header {
        min-width: 100vh;
        max-width: 100vh;
    }

    .content {
        min-height: 100vh;
    }

    .footer {
        width: 100%;
        position: relative;
        height: 60px;
    }
}